<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cadastro</title>
</head>
<body class="bg-light">
<div class="container mt-5">
    <h1 class="mb-4">Criar Conta</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/cadastrar" method="POST">
        <div class="mb-3">
            <input type="text" name="login" class="form-control" placeholder="Login">
        </div>
        <div class="mb-3">
            <input type="password" name="senha" class="form-control" placeholder="Senha">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a href="/login" class="btn btn-secondary">Já tenho conta</a>
    </form>
</div>
</body>
</html>