<!DOCTYPE html>
<html>
<head>
    <title>Agenda de Contatos</title>
</head>
<body>
    <h1>Agenda de Contatos</h1>
    <p>Bem vindo!</p>

    <form action="/adicionar" method="POST">
    <input type="text" name="nome" placeholder="Nome">
    <input type="text" name="telefone" placeholder="Telefone">
    <input type="text" name="email" placeholder="Email">
    <button type="submit">Salvar</button>
</form>

{% for contato in contatos %}
    <p>{{ contato[1] }} - {{ contato[2] }} - {{ contato[3] }}</p>
    <form action="/deletar/{{ contato[0] }}" method="POST">
        <button type="submit" onclick="return confirm('Tem certeza que deseja deletar?')">Deletar</button>
    </form>
{% endfor %}

</body>
</html>